<!DOCTYPE html>
<html lang="en">
   <head>
      <title>LIV•RO</title>
      <meta charset="utf-8" />
      <link rel="stylesheet" type="text/css" href="css/estilo.css" media="screen" />
   </head>
   <body>
      <div id="wrap">
      <div id="a">
      <header>
      <table>
         <tr>
            <td>
               <img  width="300" height="150" src=' /img/logo.png'/>
            </td>
            <td>
               <size="5" face="Courier">  
               <h1>LIV•RO </h1>
               <br />
            </td>
         </tr>
      </table>
      <head>
         <size="30" face="Courier"> 
         Troque, doe e empreste. 
         <br />
         </read>
         <nav>
      <body>
         <body>
            <header>
               <nav class="menu-principal">
                  <a href="/">Página Inicial  </a>
                  <a href="/cadLivro">Cadastro do Livro </a>
                  <a href="/cadUsuario">Cadastre-se  </a>
                  <a href="/avaliacoes">Avalie  </a>
                  <a href="/chat">Chat</a>
               </nav>
            </header>
            {{{body}}}
            <footer>
               <p> </p>
            </footer>
   </body>
</html>
<link rel="stylesheet" href="/css/estilo.css">
<img src="/img/nome-da-image.jpg" alt="">