 <div id="wrap">
<body>
   <Perfilrset="utf-8">
   <meta name="viewicon.pnglinkh5>@usuário="h5ty>
   <h3>Minhas avaliações</h3>
   <div id="minhasavaliacoes">
      <ul>
         <div class="avaliacoes" id="">
            <li>
               <h5><a href=”html://….”>@usuário_1</a></h5>
               <img  width="65" height="70" src="img/iconWoman.png">
               <img  width="230" height="36" src="img/5estrelas.png">
               <input type="text" size="25" placeholder="Ótimo usuário, livro intacto"> 
            </li>
         </div>
         <div class="avaliacoes2" id="">
            <li>
               <h5><a href=”html://….”>@usuário_2</a></h5>
               <img  width="65" height="70" src="img/iconCarinha.png">
               <img width="230" height="36" src="img/5estrelas.png">
               <input type="text" size="25" placeholder="Ótimo usuário, livro intacto"> 
            </li>
         </div>
         <div class="avaliacoes3" id="">
            <li>
               <h5><a href=”html://….”>@usuário_3</a></h5>
               <img  width="65" height="70" src="img/iconPunk.png">
               <img width="230" height="36" src="img/5estrelas.png">
               <input type="text" size="25" placeholder="Ótimo usuário, livro intacto"> 
            </li>
         </div>
      </ul>
      <meta name="viewicon.pnglinkh5>@usuário="h5ty
      <h3>Meus livros</h3>
      <ul>
      <li>
         <img width="150" height="200"  src="https://cdn-images-1.medium.com/max/1200/1*pO9AsqZXpRUf4sQNVOJbLA.jpeg">
      </li>
   </div>
