<body>
   <form name= "Cadastro do Livro" method= "GET" action=" " >
      <div id="corpo">
         <div id="formulario">
   <form action="insere.php" method="post"> 
   <size="3" face="Arial"> 
   Cadastro do Livro
   <br />
   <div class="Titulo direita" id="">
   <label for="Titulo">Titulo:</label><br>
   <input type="text" size="25" placeholder="Titulo do livro">
   </div>
   <div class="esquerda" id="">
   <label for="autor">Autor:</label><br>
   <input type="text" size="25" placeholder="Nome do Autor">
   </div>
   <div class="editora esquerda" id="">
   <label for="editora">Editora:</label><br>
   <input type="text" size="25" placeholder="Nome da editora">
   </div>
   <div class="Edição direita" id="">
   <label for="edição">Edição:</label><br>
   <input type="text" placeholder="Edição do livro">
   </div>
   <div class="cod esquerda" id="">
   <label for="cod">Código (Tombo):</label><br>
   <input type="text" placeholder="11111">
   </div>
   <div class="Volume direita" id="">
   <label for="volume">Volume:</label><br>
   <input type="text" size="25" placeholder="Volume do livro">
   </div>
   <div class="gênero esquerda" id="">
   <label for="genero">Gênero:</label><br>
   <input type="text" size="30" placeholder="Romance, ação">
   </div>
   <div class="descrição direita" id="">
   <label for="descrição">Descrição:</label><br>
   <input type="text" size="30" placeholder="Sinopse do livro">
   </div>
   <div class="situação esquerda" id="">
   <label for="sitação">Situção:</label><br>
   <input type="radio" name="Situação" value="Doacao"/> Doação <br>
   <input type ="radio" name="Situação" value="Doacao"/> Troca <br>
   <input type ="radio" name="Situação" value="Doacao"/> Empréstimo <br>
   </div>
   <label for="Estado do livro" >Estado do Livro:</label><br>
   <input type ="radio" name=" Estado do Livro" value="Novo"/> Novo <br>
   <input type ="radio" name=" Estado do Livro" value="Seminovo"/> Seminovo <br>
   <input type ="radio" name=" Estado do Livro" value="Velho"/> Velho <br>
   <input type="reset" value="Limpar Campos" class="botao">
   <input type="submit" value="Realizar cadastro" class="botao">
   </form>
   </div>
   </div>
</body>