<body>
   <div id="content">
      <article>
         <h4> O Pequeno Príncipe </h4>
         <img src="https://cdn-images-1.medium.com/max/1200/1*pO9AsqZXpRUf4sQNVOJbLA.jpeg" alt="some text" width=200 height=250> 
         <h5> 
            <a href=”html://….”>@Usuário</a> 
         </h5>
         <blockquote>
            <p> Le Petit Prince, também conhecido como O Principezinho ou O Pequeno Príncipe é uma obra do escritor, 
               ilustrador e aviador francês Antoine de Saint-Exupéry, publicada em 1943 nos Estados Unidos. 
               Durante a Segunda Guerra Mundial, Saint-Exupéry foi exilado para a América do Norte. 
            </p>
         </blockquote>
      </article>
   </div>
   <div id="sidebar">
      <aside>
         <nav>
            <ul>
               <h5>Gêneros</h5>
               <form method="post" action="Gêneros">
               <select name="gêneros[]"size="5"multiple>
               <option value="le">Literatura Estrangeira</option>
               <option value="li">Literatura Infantojuvenil</option>
               <option value="lb"><a href="#">Literatura Brasileira</option>
               <option value="d">Didáticos</option>
               <option value="aj">Autoajuda</option>
            </ul>
         </nav>
      </aside>
   </div>
</body>
