body {
       font-family: Arial, Helvetica, sans-serif,'Courier New', Courier, monospace;
           text-align: center;


 } 
  #wrap {
    width: 1000px;
    height: 1040px;
    margin: auto;
    background: #FFB6C1;
       color:white;  
   }
  
               h1, h2, h3, h4 {
            font-style: Arial;
            color: #ffffff;
        }

        #corpo {
            margin: 50px 100px;
        }

        #formulario {
            text-align: left;
            margin: 50 100px;
        }

        #formulario .direita {
            float: right;
            width:50%;

        }

        #formulario .esquerda {
            float: left;
            width:50%;

        }

        #formulario label {
            line-height: 100px;
            text-align:left;
            color:#363636;
        }

        #formulario input {
            padding: 9px;
            border: 1px solid rgb(211, 179, 179);
            background: #E8EFE4;
            border-radius: 4px;
            color:#363636;
        }

        #formulario select {
            padding: 4px;
            border: 1px solid rgb(250, 255, 207);
            background: rgb(238, 239, 228);
            border-radius: 9px;
            color:#363636;
        }
        
         

        #formulario .botao {
            cursor: pointer;
            text-align: left;
            margin: auto;
            color: rgb(43, 38, 38);
            background-color: #FFB6C1;
        }

        #formulario .botao:hover {
            background-color: #ffe3ee;
        }

        #copy {
            color: #363636;
            text-align: right;
            margin: 50px 150px;
        }
